In [27]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [28]:
url="https://realpython.github.io/fake-jobs/"
page=requests.get(url)

In [29]:
soup=BeautifulSoup(page.content,"html.parser")

In [30]:
results=soup.find(id="ResultsContainer")
jobs=[]
companys=[]
locations=[]
main_content=results.find_all('div',class_="card-content")
for card in main_content:
    title=card.find("h2",class_="title")
    company=card.find("h3",class_="subtitle")
    location=card.find("p",class_="location")
    jobs.append(title.text)
    companys.append(company.text)
    locations.append(location.text.replace("\n",""))

In [31]:
df=pd.DataFrame({"Jobs":jobs,"Company":companys,"locations":locations})
df

,Jobs,Company,locations
0,Senior Python Developer,"Payne, Roberts and Davis","Stewartbury, AA"
1,Energy engineer,Vasquez-Davidson,"Christopherville, AA"
2,Legal executive,"Jackson, Chambers and Levy","Port Ericaburgh, AA"
3,Fitness centre manager,Savage-Bradley,"East Seanview, AP"
4,Product manager,Ramirez Inc,"North Jamieview, AP"
...,...,...,...
95,Museum/gallery exhibitions officer,"Nguyen, Yoder and Petty","Lake Abigail, AE"
96,"Radiographer, diagnostic",Holder LLC,"Jacobshire, AP"
97,Database administrator,Yates-Ferguson,"Port Susan, AE"
98,Furniture designer,Ortega-Lawrence,"North Tiffany, AA"
99,Ship broker,"Fuentes, Walls and Castro","Michelleville, AP"